<h2>Edit <%= @project.name %></h2>

<form action="/projects/<%= @project.id %>/edit" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <br>Name: <input type="text" name="name" id="name" value="<%= @project.name %>"><br>
    <br>
    <label for="developer">Developer:</label>
    <select name="developer">
        <option value=''>--Select or Create--</option>
        <% current_user.developers.uniq.each do |dev| %>
            <option value="<%= dev.id %>" <%='selected' if @project.developer.name == dev.name %> ><%= dev.name %></option>
        <% end %>
    </select>
    <br>
    <br>Create New Developer: <input type="text" name="new_developer" id="new_developer"><br>
    <br>
    <label for="proj_type">Type:</label>
    <select name="proj_type">
        <% Project.types.each do |type| %>
            <option value="<%= type %>" <%='selected' if @project.proj_type == type %> ><%= type %></option>
        <% end %>
    </select>
    <br>
    <br>Description: <input type="text" name="description" id="description" value="<%= @project.description %>"><br>
    <br><input type="submit" id="submit "value="Update Project">
</form>