<h2><%= @project.name %></h2>

<h4>Developer: <%= @project.developer.name %></h4>

<b>Type: </b><%= @project.proj_type %>
<br>
<br>
<b>Description: </b><%= @project.description %>
<br>
<br>
<% if current_user == @project.user %>
    <form action="/projects/<%= @project.id %>/edit">
        <input type="submit" value="Edit Project" />
    </form>
    <form action="/projects/<%= @project.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Project">
    </form>
<% end %>